<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div id="topics">
  <table>
    <tr>
    <th> Topic </th>

    <th> Votes count</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    </tr>
    
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>

        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
        
        
        <td><%= link_to 'Delete', topic, data: {  turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>
</div>

<%= link_to "New topic", new_topic_path %>